{% extends 'base.html' %}

{% block content %}
    <h1>{{object.username}}</h1>
        <ul>
          <li>{{object.email}}</li>
        </ul>

        <h3>Kitchens owned by: {{object.username}}</h3>
        {% for k in kitchen_list %}
          {% if object.username == k.customer.username %}
            {{k}}
          {% endif %}
        {% endfor %}
        <a href="{% url 'kitchen:customer_update' object.id %}"> <h5>UPDATE</h5> </a>
        <a href="{% url 'kitchen:customer_delete' object.id %}"> <h5>DELETE</h5> </a>
    <a href="{% url 'kitchen:home' %}">  <h3>Go HOME</a></h3>
{% endblock %}
