{% extends "base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.item %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url 'kitchen:cart_add' product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td><a href="{% url 'kitchen:cart_remove' product.id %}">Remove</a></td>
                <td>${{ item.price }}</td>
                <td>${{ item.total_price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="4"></td>
            <td>${{ cart.get_total_price }}</td>
        </tr>
    </tbody>
    </table>
    <p>
          {% if kitchen_id != '' %}
            <a href="{% url 'kitchen:kitchen_detail' kitchen_id %}">Continue shopping</a>
            <a href="{% url 'kitchen:order_create' %}">Checkout</a>
          {% else %}
            <h3>No ITEMS in cart</h3>
            Check out restaurants to choose from <a href="{% url 'kitchen:home' %}">here</a>.
          {% endif %}
    </p>
{% endblock %}
